.texto-flotante {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Bangers', cursive;
    
}
  

#controlimg{ 
    width: 100vw;
    height: 100vh;
    margin-left: -12px;
  
}




 #barranav{
  
    gap: 40px;
    font-size: 20px;
    color: white;

    margin-right: 40px;

    
 }



 #nombre{
    font-size: 60px;
 }

 
a.nav-link{
   color: white;
}
  button.navbar-brand{
   background-color: transparent;
   color:white;
   border: solid 1px white;
   border-radius: 5px;
  }
footer{
   background-color: black;
   text-align: center;
   font-family: 'Bangers', cursive;
   color: white;
   margin-bottom: -100px;
 

}

button.navbar-toggler{

   color: white;
 
}

@media (min-width: 768px) {
   /* Your CSS goes here */
 }
 
 @media (min-width: 992px) {
   /* Your CSS goes here */
 }
 
 @media (min-width: 1200px) {
   /* Your CSS goes here */
 }
 